
   <!DOCTYPE html>
   <html>
   <head>
     <title>Mostrar Persona</title>
     <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   </head>
   <body>
     <h1>Datos de la Persona</h1>
     <table class="tabla">
        <tr>
          <th>Campo</th>
          <th>Valor</th>
        </tr>
        <% @persona.each do |campo, valor| %>
          <tr>
            <td><%= campo.to_s.capitalize %></td>
            <td><%= valor %></td>
          </tr>
        <% end %>  
     </table>
   </body>
   </html>

